body {
    /*min-height: 4000px;*/
    padding-top: 0px;
    /*font-size: 1.7em;*/
}
#first {
    /*no-repeat scroll center center / 100% auto #F0F0F0*/
    /*background-image:  url(img/Locked.jpg);
    background-size: 100px auto;
    background-repeat: no-repeat;
    /*background-position: 50% 50%;*/
    /*min-height: 600px;*/
     
    background-color: #3498db;
    text-align: right;
}
#first h1 {
    font-family: "neucha";
    font-size: 7em;
    color: #ecf0f1;
    padding-top: 120px;
    
}
#first h2 {
    font-family: "neucha";
    font-size: 3em;
    color: #ecf0f1;
}
.terminal {
    font-family: "Source code pro" ,monospace;   
}